<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youquan.wemedia.mapper.WmNewsMaterialMapper">
    <!-- 批量保存图文元素和素材的关联关系 -->
    <insert id="insertRelationship">
        insert into leadnews_wemedia.wm_news_material (material_id, news_id, type,ord) values
        <foreach collection="wmMaterialIdList" item="wmMaterialId" index="ord" separator=",">
            (#{wmMaterialId},#{newsId},#{type},#{ord})
        </foreach>
    </insert>
</mapper>